@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary: #0D0E0C;
    --accent: #FF90E8;
    --background:#F2F2F2;
    --background-container: #FFFFFF;

    --text-primary: #0D0E0C;
    --text-secondary: #424A3C;
    --button-hover: #F2F2F2;

    --form-input-placeholder: rgba(13, 14, 12, 0.50);

    --percent: 96%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-container);
    font-family: 'DM Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

}

a {
    text-decoration: none;
}

textarea {
    cursor: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


/*** Update as of June 2, 2022 ***/
/*** Navbar ***/
header {
    text-align: center;
}

/*** Home ***/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-container);
    /**border: solid 3px var(--primary);**/
    border-radius: 35px;

    width: 1200px;
    padding: 15px 120px;
    padding-bottom: 80px;

    position: relative;
}

.semi-circle-one {
    position: absolute;
    top: 0;
    left: 30px;
}

.semi-circle-two {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.triangle-side {
    position: absolute;
    right: 0;
    top: 55%;
}

/*** Button ***/
.button-container{
    position: relative;
}
.button-hover-background {
    height: 50px;
    border-radius: 4px;
}

.button {
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--primary);
    border-radius: 4px;

    cursor: pointer;
    
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;

    transition: all .14s ease-out;
}

.primary-button {
    font-weight: 500;
    width: 600px;
    color: var(--background-container);
    background-color: var(--primary);
}

.primary-button:hover {
    color: var(--text-primary);
    background-color: var(--accent);

    top: -3.5px;
    left: -3.5px;
}

.criteria-button {
    font-weight: 500;
    width: 210px;
    color: var(--primary);
    background-color: var(--background-container);

    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.criteria-button > div:first-child {
    pointer-events: none;
}

.criteria-button:hover {
    color: var(--text-primary);
    background-color: var(--button-hover);

    top: -3.5px;
    left: -3.5px;
}

.criteria-button-clicked {
    color: var(--text-primary);
    background-color: var(--button-hover);

    top: -3.5px;
    left: -3.5px;
}

.percentage-container {
    background-color: var(--background-container);

    border: solid 1px var(--primary);
    border-radius: 15px;

    padding: 5px 7px;

    pointer-events: none;
}

/*** Form Input Multi ***/
.percentage-input-container {
    display: flex;
    flex-direction: column;

    padding-top: 15px;
}

.percentage-input-container > div:first-child {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);

    padding-bottom: 8px;
}

.form-input-container {
    width: 100%;
    display: flex;
    align-items: center;

    border: solid 1px var(--primary);
    border-radius: 4px;

    padding: 0px 20px;
}

.form-percentage-container {
    border: 1px solid var(--primary);
    border-radius: 15px;
    padding: 2px 8px;

    width: max-content;
    height: max-content;
}

.form-input {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    
    background: transparent;
    color: var(--text-primary);

    border: none;
    padding: 15px 15px;

    width: 100%;
    height: 50px;
}

.form-input-disabled {
    pointer-events: none;
    background: #e6e6e63b;
}

.form-input:focus {
    outline: none;
}

.form-input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    
    color: var(--form-input-placeholder);
}


.form-input-container > div:last-child {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondary);

    width: 100%;
    text-align: end;
}

.textarea-essay-container {
    position: relative;

    border: solid 1px var(--primary);
    padding-bottom: 50px;
    border-radius: 4px;
}

.textarea-essay-container:focus-within {
    box-shadow: 0px 5px 8px rgba(255,144,232,0.40);
}

.form-input-multi {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;

    background: var(--background-container);
    color: var(--text-primary);

    border: none;
    border-radius: 4px;
    padding: 15px 15px;

    resize: none;

    overflow-y: auto;
}

.form-input-multi::placeholder {
    color: var(--form-input-placeholder);
}

.form-input-multi:focus {
    outline:none;
}

.form-topic {
    width: 620px;
    height: 110px;
    border: 1px solid var(--primary);
}

.form-topic:focus {
    box-shadow: 0px 5px 8px rgba(255,144,232,0.40);
}

.form-essay {
    width: 600px;
    height: 285px;
}


.word-count {
    font-size: 12px;
    font-weight: 500;

    padding: 5px 10px;
    background-color: var(--button-hover);
    border-radius: 50px;

    position: absolute;
    right: 15px;
    bottom: 15px;
}




/*** Step One ***/
.step-one {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 55px;

    position: relative;
}

.step-one > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: absolute;
    left: 0;
    top: 0;
}

.step-one > div:first-child > div:first-child {
    padding-top: 60px;
    padding-bottom: 5px;
}

.step-one > img:last-child {
    margin-left: auto;
}

/*** Step Two ***/

.step-two {
    display: flex;
    justify-content: space-between;
    width: 100%;

    margin-top: 50px;
}

/*** Step Three ***/
.step-three {
    display: flex;
    align-items: flex-start;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 100px;
}

.criteria-column {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    padding-left: 15px;
}

.criteria-row {
    display: flex;
    column-gap: 15px;
}

.step-three > div:last-child {
    margin-left: auto;
}



/*** Results ***/
.results {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 46px;
    width: 100%;
}

.results-header {
    display: flex;
    text-align: center;
}

.criteria-header {
    font-weight: 500;
    font-size: 16px;

    padding: 9px 25px;
    color: var(--primary);
    border-bottom: 4px solid transparent;

    cursor: pointer;
}

.criteria-header-clicked {
    font-weight: 700;
    border-bottom: 4px solid var(--primary);
}

.results-content-criteria {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-top: 50px;
}

.results-rating-comments-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;
}

.results-content-heading {
    font-weight: 700;
    font-size: 14px;

    border: 1px solid var(--primary);
    padding: 5px 10px;
    width: max-content;

    margin-bottom: 12px;
}

.rch-comments {
    margin-top: 32px;
}


.rating-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.rating-word, .rating-percent {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-secondary);
}

.progress-bar-container {
    height: 25px;
    width: 245px;

    background-color: transparent;
    outline: 1px solid var(--primary);
    border-radius: 4px;
}

.progress-bar {
    background-color: var(--accent);
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: var(--percent);
    height: 100%; 
}

.run-animation {
    animation: animation 0.5s ease-out;
}

@keyframes animation {
    0% { width: 0%; }
    100% { width: var(--percent) }
}

.comment-word {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-secondary);
    line-height: 1.3;
    text-align: justify;
}

.comment-word-head {
    margin-bottom: 18px;
}

.results-person {
    margin-top: -33px;
}

/** Average grade **/
.results-average > div {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);

    margin-top: 20px;
    margin-bottom: 50px;
}

.flag-container {
    position: relative;
}

.average-grade-container {
    position: absolute;
    right: 8px;
    bottom: 28px;
}

.average-grade-container-two {
    position: relative;
}

.average-grade-container-two > div {
    position: absolute;
    right: 6px;
    bottom: 28px;
}

/*** Utilities ***/

.hide {
    display: none;
}

/** Button Spinner */
.button-spinner-container {
    position: relative;
    pointer-events: none;
}
.button-spinner-hover-background {
    height: 50px;
    border-radius: 4px;
}

.button-spinner {
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--primary);
    border-radius: 4px;

    cursor: pointer;
    
    height: 50px;

    font-weight: 500;
    width: 600px;
    color: var(--text-primary);
    background-color: var(--accent);

    position: absolute;
    top: -3.5px;
    left: -3.5px;

    transition: all .14s ease-out;
}

.spinner {
    border: 3px solid var(--primary);
    border-radius: 50%;
    border-top: 3px solid transparent;
    width: 25px;
    height: 25px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
