{% extends 'main.html' %}
{% load static %}

{% block content %}
    
<div class="essay-critera-container">
    <div class="essay-container">
        {% csrf_token %}
        <div class="textbox" contenteditable=true placeholder="Gradesy will score your essay. Start by writing or pasting here and then press the 'Score Essay' button."></div>
        
        <button class="button">Score Essay</button>
    </div>
    
    <div class="criteria-container" style="display: none">
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>CONTENT</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Relevance to topic, richness of ideas</div>
                </div>
            </div>
            <div>25/100</div>
        </div>
        <div class="bar-container">
            <div class="bar-content"></div>
        </div>
    
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>MECHANICS</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Spelling, punctuation, capitalization, and paragraphing</div>
                </div>
            </div>
            <div>50/100</div>
        </div>
        <div class="bar-container">
            <div class="bar-mechanics"></div>
        </div>
    
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>GRAMMAR</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Grammatical mistakes</div>
                </div>
            </div>
            <div>50/100</div>
        </div>
        <div class="bar-container">
            <div class="bar-grammar"></div>
        </div>
    
        <div>FINAL GRADE</div>
    
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full">
                    <div class="fill"></div>
                </div>
                <div class="mask half">
                    <div class="fill"></div>
                </div>
                <div class="inside-circle"> 
                    <div>42</div>
                    <div></div>
                    <div>100</div>
                </div>
            </div>
        </div>
    
    </div>


    <div class="criteria-container-skeleton" style="display: block">
        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div></div>
        <div class="circle-wrap-skeleton">
            <div class="inside-circle-skeleton">
                <div class="grade-skeleton"></div>
                <div></div>
                <div class="grade-skeleton"></div>
            </div>
        </div>
    </div>
</div>

<script>
    root = document.documentElement;
    root.style.setProperty('--degree', 135 + "deg"); 

    $('.button').click(function() {
        // If no input, stop execution of function
        if ($('.textbox').html() === "") {
            alert("No input essay");
            return;
        }
        
        // Continue execution
        // Send essay to backend
        var essay = $('.textbox').text();

        console.log(essay);

        $.ajax({
            url: "{% url 'process_essay' %}",
            method: "POST",
            data: {'essay': essay, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                //alert('input sent successfully');
            },
            error: function(err) {
                console.log(err);
            }
        });

        // Load grade
        $('.criteria-container-skeleton').css("display", "none");
        $('.criteria-container').css("display", "block");
    });
</script>

{% endblock content %}