{% extends 'main.html' %}
{% load static %}

{% block content %}
    
<div class="essay-critera-container">
    <div class="topic-essay-container">
        <div class="topic-container">
            <div class="textbox-topic" contenteditable=true placeholder="Enter keywords of your essay topic here (eg. computer, information in modern world"></div>
        </div>

        <div class="essay-container">
            {% csrf_token %}
            <div class="textbox" contenteditable=true placeholder="Enter your essay here by writing or pasting it, then press the 'Score Essay' button to have Gradesy grade it."></div>
            
            <div class="word-counter-button-container">
                <div class="words-js">0 word</div>
                <div class="button disabled">Score Essay</div>
            </div>
        </div>
    </div>

    
    <div class="criteria-container" style="display: none">
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>CONTENT</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Relevance to topic, richness of ideas</div>
                </div>
            </div>
            <div class="content-score-js"></div>
        </div>
        <div class="bar-container">
            <div class="bar-content"></div>
        </div>
    
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>MECHANICS</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Spelling, punctuation, capitalization, and paragraphing</div>
                </div>
            </div>
            <div class="mechanics-score-js"></div>
        </div>
        <div class="bar-container">
            <div class="bar-mechanics"></div>
        </div>
    
        <div class="criteria-name-score-container">
            <div class="name-question-container">
                <div>GRAMMAR</div>
                <div class="tooltip">
                    <img src="{% static 'images/help.svg' %}">
                    <div class="tooltip-text">Grammatical mistakes</div>
                </div>
            </div>
            <div class="grammar-score-js"></div>
        </div>
        <div class="bar-container">
            <div class="bar-grammar"></div>
        </div>
    
        <div>FINAL GRADE</div>
    
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full">
                    <div class="fill"></div>
                </div>
                <div class="mask half">
                    <div class="fill"></div>
                </div>
                <div class="inside-circle"> 
                    <div class="final-grade-js"></div>
                    <div></div>
                    <div>100</div>
                </div>
            </div>
        </div>
    
    </div>


    <div class="criteria-container-skeleton" style="display: block">
        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div class="row-between">
            <div></div>
            <div></div>
        </div>
        <div class="row-bar"></div>

        <div></div>
        <div class="circle-wrap-skeleton">
            <div class="inside-circle-skeleton">
                <div class="grade-skeleton"></div>
                <div></div>
                <div class="grade-skeleton"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Count number of words as user types
    var wordOrWords = "word";
    $(document).keyup(function(e) {
        var essayText = $('.textbox').text();

        var numOfWords = essayText.trim().split(/\s+/).length;
        
        if (numOfWords > 1) {
            wordOrWords = "words";
        } else {
            wordOrWords = "word";
        }

        if (essayText == '') {
            numOfWords = 0;
        }
        $('.words-js').html(numOfWords + ' ' + wordOrWords);

        // Check if there are text inputs already
        if ($('.textbox').text() != "" && $('.textbox-topic').text() != "") {
            // Enable button
            $('.button').removeClass('disabled');
        } else {
            // Disbale button
            $('.button').addClass('disabled');
        }
    });

    ///////////////////////////////////////////////////////

    root = document.documentElement;

    var mechanicsScore = 0;
    var contentScore = 0;
    var grammarScore = 0;

    $('.button').click(function() {
        // If no input, stop execution of function
        if ($('.textbox-topic').html() === "") {
            return;
        }

        if ($('.textbox').html() === "") {
            return;
        }


        // Continue execution
        // Send essay to backend
        var essay = $('.textbox').text();

        console.log(essay);

        $.ajax({
            url: "{% url 'process_essay' %}",
            method: "POST",
            data: {'essay': essay, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                //alert('input sent successfully')
                // Get score from backend to frontend
                $.ajax({
                    url: "{% url 'get_score' %}",
                    method: "GET",
                    dataType: 'json',
                    success: function(response) {
                        mechanicsScore = response[0];
                        contentScore = 40;
                        grammarScore = response[1];
                    
                        //alert("Done");
                        // Criteria Grade
                         $('.mechanics-score-js').html((mechanicsScore + "/100"));
                         root.style.setProperty('--bar-mechanics', mechanicsScore + "%");

                         $('.content-score-js').html((contentScore + "/100"));
                         root.style.setProperty('--bar-content', contentScore + "%");

                         $('.grammar-score-js').html((grammarScore + "/100"));
                         root.style.setProperty('--bar-grammar', grammarScore + "%");

                         // Final Grade
                         avgScores = Math.ceil(((mechanicsScore + contentScore + grammarScore)/3));
                         $('.final-grade-js').html((avgScores));

                         degree = (((avgScores/100)*360)/2);
                         root.style.setProperty('--degree', degree + "deg"); 

                         updateGrade();
                    },  
                    error: function(err) {
                        console.log(err);
                    }
                });
            },
            error: function(err) {
                console.log(err);
            }
        });

        // Start criteria card blinker
        root.style.setProperty('--blinker-zero', '#fdfdfd');
        root.style.setProperty('--blinker-hundred', '#f5f5f5');


        // Replace button text with spinner
        $('.button').html(
            `<div class="spinner"></div>`
        );

        $('.criteria-container-skeleton').css("display", "block");
        $('.criteria-container').css("display", "none");

    }); // End button click


    function updateGrade() {
        // Load grade
        $('.criteria-container-skeleton').css("display", "none");
        $('.criteria-container').css("display", "block");

        // Replace spinner with text
        $('.button').html('Score Essay');

        // End criteria card blinker
        root.style.setProperty('--blinker-zero', '#f5f5f5');
        root.style.setProperty('--blinker-hundred', '#f5f5f5');
    }

</script>

{% endblock content %}