{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container">
    {% include 'navbar.html' %}
    {% csrf_token %}
    <section class="step-one">
        <div>
            <div>
                <img src="{% static 'images/triangle-1.svg' %}" draggable="false">
            </div>
            <div>
                <textarea class="form-input-multi form-topic" name="topic" placeholder="Type or paste your topic here..."></textarea>
            </div>
        </div>
        
        <img src="{% static 'images/person-1.svg' %}" draggable="false">
    </section>

    <section class="step-two">
        <img src="{% static 'images/person-2.svg' %}" draggable="false">
        <div class="textarea-essay-container">
            <textarea class="form-input-multi form-essay" name="essay" placeholder="Type or paste your essay here..."></textarea>
            <div class="word-count">0 word</div>
        </div>
    </section>

    <section class="step-three">
        <img src="{% static 'images/triangle-2.svg' %}" draggable="false">
        
        <div class="criteria-column">
            <div class="criteria-row">
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="grammar" class="button criteria-button">
                            <div>Grammar</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="style" class="button criteria-button">
                            <div>Style</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="criteria-row">
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="mechanics" class="button criteria-button">
                            <div>Mechanics</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="plagiarism" class="button criteria-button">
                            <div>Plagiarism</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="criteria-row">
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="content" class="button criteria-button">
                            <div>Content</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
                <div class="button-container">
                    <div class="button-hover-background" style="background-color: var(--primary); width: 210px;">
                        <div id="vocabulary" class="button criteria-button">
                            <div>Vocabulary</div>
                            <div class="percentage-container"><span>0</span>%</div>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="percentage-input-container">
                <div>Give a percentage value:</div>
                <div class="form-input-container form-input-disabled">
                    <div class="form-percentage-container">%</div>
                    <input type="text" class="form-input" maxlength="3" onkeypress="validateNum(event)" placeholder="Select a criteria">
                    <div>100% left</div>
                </div>
            </div>
        </div>

        <div>
            <img src="{% static 'images/person-3.svg' %}" draggable="false">
        </div>
  
    </section>


    <div class="button-spinner-container hide">
        <div class="button-spinner-hover-background" style="background-color: var(--primary); width: 600px;">
            <div class="button-spinner">
                <div class="spinner"></div>
            </div>
        </div>    
    </div>

    <div class="button-container check-essay-js">
        <div class="button-hover-background" style="background-color: var(--primary); width: 600px;">
            <div class="button primary-button check-essay-js">Check essay</div>
        </div>    
    </div>

    <div class="text-validation hide"></div>

</div>

<script>
    // Count number of words essay
    $('.form-input-multi.form-essay').on('keyup', function() {
        var essayText = $('.form-input-multi.form-essay').val().toString();
        var numOfWords = essayText.trim().split(/\s+/).length;

        if (!essayText.trim().length) {
            numOfWords = 0;
        }
        console.log('Num of words: ', numOfWords);

        if (numOfWords > 0) {
            $('.word-count').text(numOfWords + " words");
        } else {
            $('.word-count').text(numOfWords + " word");
        }
    });
    
    let selector = '';
    // Criteria button
    $('.button.criteria-button').on('click', function(e) {
        // Enable form input
        $('.form-input-container').removeClass('form-input-disabled');

        var buttonClicked = e.target.id;
        selector = "#" + `${buttonClicked}`;

        // remove class clicked for all buttons
        $('.button.criteria-button').removeClass('criteria-button-clicked');
        // then add class for one only
        $(selector).addClass('criteria-button-clicked');

        // update value of form input
        var value = $(selector).children().last().children('span').text();
        $('.form-input').val(value);
    });

    let grammarVal = 0;
    let mechanicsVal = 0;
    let contentVal = 0;
    let styleVal = 0;
    let plagiarismVal = 0;
    let vocabularyVal = 0;
    
    // On keypress of form input 
    $('.form-input').on('input', function(e) {
        // Change placeholder value
        $('.form-input').attr('placeholder', '0');

        // Get value
        var formInputValue = this.value;

        // If none, set value to 0
        if (formInputValue === '') {
            formInputValue = '0';
        } 
        // Convert to Int
        formInputValue = parseInt(formInputValue);
        $(selector).children().last().children('span').text(formInputValue);


        // Calcualte total percent
        grammarVal = parseInt($("#grammar").children().last().children('span').text());
        mechanicsVal = parseInt($("#mechanics").children().last().children('span').text());
        contentVal = parseInt($("#content").children().last().children('span').text());
        styleVal = parseInt($("#style").children().last().children('span').text());
        plagiarismVal = parseInt($("#plagiarism").children().last().children('span').text());
        vocabularyVal = parseInt($("#vocabulary").children().last().children('span').text());
        
        let criteriaTotalPercent = grammarVal + mechanicsVal + contentVal + styleVal + plagiarismVal + vocabularyVal;


        // If input is less than 100, and criteriaTotalPercent fits 100 percent
        if (formInputValue <= 100 && (100-criteriaTotalPercent) >= 0) {
            $(selector).children().last().children('span').text(formInputValue);

            leftPercent = 100 - criteriaTotalPercent;
            $('.form-input-container').children().last().text(leftPercent + "% left");

            $('.form-input-container').removeClass('form-input-disabled');

            if (formInputValue == 100) {
                $('.form-input-container').addClass('form-input-disabled');
            }
        } else {
            // slice last digit 
            $('.form-input').val($('.form-input').val().slice(0, -1));

            formInputValue = this.value;

            if (formInputValue === '') {
                formInputValue = '0';
            } 

            $(selector).children().last().children('span').text(formInputValue);
            $('.form-input-container').addClass('form-input-disabled');
        }
    });


    // Check Essay button clicked
    $('.button.primary-button').on('click', function() {
        inputTopic = $('.form-input-multi.form-topic').val().toString();
        inputEssay = $('.form-input-multi.form-essay').val().toString();
        percentLeft = $('.form-input-container > div:last-child').text();

        // If inputs have inputs, check essay
        if (!inputTopic.trim().length || !inputEssay.trim().length) {
            $('.text-validation').html('Fill up the topic and essay fields.');
            $('.text-validation').removeClass('hide');
        } 
        else if (percentLeft != '0% left') {
            $('.text-validation').html('Make sure all percentage are distributed.');
            $('.text-validation').removeClass('hide');
        }
        else {
            $('.check-essay-js').addClass('hide');
            $('.button-spinner-container').removeClass('hide');
            $('.text-validation').addClass('hide');

            setTimeout(function() {
                checkEssay();
            },10);
        }
    });

    // Check Essay AJAX 
    function checkEssay() {
        // Send data to backend, and get results in response
        var essay = $('.form-input-multi.form-essay').val().toString();
        var topic = $('.form-input-multi.form-topic').val().toString();
        $.ajax({
            async: false,
            url: "{% url 'check_essay' %}",
            method: "POST",
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                'essay': essay,
                'topic': topic,
                'grammarVal': grammarVal,
                'mechanicsVal': mechanicsVal,
                'contentVal': contentVal,
                'styleVal': styleVal,
                'plagiarismVal': plagiarismVal,
                'vocabularyVal': vocabularyVal
            },
            dataType: 'json',
            success: function (response) {
                // Go to next url
                 window.location.href = '/results';
            }
        });
    }


    // Number input only for percentage
    function validateNum(e) {
        var theEvent = e || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

</script>

{% endblock content %}